@import '../../c_app.scss';

.results {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    
    @include small {
        @media (orientation: portrait) {
            border-radius: 2vmin;
            height: 100%;
            outline: 1px solid $border-color;
        }
    }

    @include medium {
        border-radius: 2vmin;
        height: 100%;
        outline: 1px solid $border-color;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px 24px 0 24px;;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        @media (orientation: portrait) {
            height: 40%;
        }

        h3, h1 {
            margin: 2vmin;
        }

        h1 {
            font-size: 2.5em;
        }

        @media (orientation: landscape) {
            height: 30%;
            padding: 12px 12px 0 12px;
        }
    }

    .answers-slot {
        background: $content-background-color;
        border-radius: 25px;
        box-shadow: $card-box-shadow;
        overflow-y: hidden;
        width: calc(100% - 10vmin);

        @media (orientation: landscape) {
            overflow-y: auto;
        }

        @include medium {
            width: calc(70% - 10vmin);
        }
        
        .answers {
            border: 1px solid $border-color;
            max-height: 100%;
            overflow-y: auto;
        }

        .rounds-slot {
            height: auto;
        }

        .answer, .round {
            background: $content-background-color;
            border-bottom: 1px solid $border-color;
            display: flex;
            justify-content: space-between;
            padding: 24px;
        }
        .round {
            font-weight: bold;
            justify-content: center;
            text-align: center;
        }
    }
}