@import '../../c_app.scss';

.results {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    
    @include small {
        @media (orientation: portrait) {
            height: 100%;
            outline: 1px solid #e5f3ff;
            border-radius: 2vmin;
        }
    }

    @include medium {
        height: 100%;
        outline: 1px solid #e5f3ff;
        border-radius: 2vmin;
    }

    header {
        padding: 24px 24px 0 24px;;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        h3, h1 {
            margin: 6px 12px;
        }

        h1 {
            font-size: 2.5em;
        }

        @media (orientation: landscape) {
            padding: 12px 12px 0 12px;
        }
    }

    .answers-slot {
        overflow: auto;
        flex-grow: 2;
        width: 100%;
        padding-top: 1px;

        // @include small {
        //     width: 40vw;
        // }

        @media (orientation: landscape) {
            width: 90%;
            columns: 2;
            column-fill: balance;

            &:nth-col(2) {
                background-color: red;
            }

            .answer {
                // border: none;

                &:first {
                    background-color: red;
                }
            }
        }

        .rounds-slot {
            height: auto;

            &:first-child {
                border-top: 1px solid #e5f3ff;
            }
            
            &:last-child {
                // border-bottom: 1px solid #e5f3ff;
            }
        }

        .answer, .round {
            padding: 24px;
            background: #fcfdff;
            display: flex;
            justify-content: space-between;
            // border-bottom: 1px solid #e5f3ff;
            margin-top: -1px;
            border: 1px solid #e5f3ff;

            @include small {
                // border-color: #e5f3ff;
                // border-style: solid;
                // border-width: 0px 1px 1px 1px;
            }

            

            &:first-child {
                // border-top: 1px solid #e5f3ff;
            }
        }

        // .round {
        //     padding: 24px;
        //     border-bottom: 1px solid #e5f3ff;
        //     background: #fcfdff;
        //     display: flex;
        //     justify-content: space-between;

        //     &:first-child {
        //         border-top: none;
        //     }

        //     &:last-child {
        //         border-bottom: none;
        //     }
        // }

        .round {
            text-align: center;
            font-weight: bold;
            justify-content: center;
        }
    }

    .footer {
        text-align: center;
        padding: 24px;

        a {
            color: #2699fb;
        }

        @media (orientation: landscape) {
            padding: 12px;
        }
    }
}