@import './c_app.scss';

* {
    box-sizing: border-box;
}

#root {
    color: #2699fb;
}

#app {
    background-color: $background-color;
    height: 100vh;
    text-size-adjust: 80%;
}

header {
    color: #fff;
    text-transform: uppercase;
}

footer {
    padding: 8px;
    text-align: center;
    width: 100%;

    a {
        color: #fff;
    }

    @media (orientation: landscape) {
        padding: 2px;
    }
}

button {
    &:hover, &:active {
        cursor: pointer;
    }
}

.spinner-slot {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100vw;
}

.custom-scroll {
    &::-webkit-scrollbar {
        border-radius: 5px;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        opacity: 0.5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-color;
        border-radius: 2px;
        width: 8px;
    }
}