$xsmall: 640px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$xlarge: 1920px;

@mixin mobile-portrait {
    @media (min-width: #{$xsmall}) {

    }
}

@mixin mobile-landscape {
    
}

@mixin tablet-portrait {
    
}

@mixin tablet-landscape {
    
}

@mixin xsmall {
    @media (min-width: #{$xsmall}) {
        @content;
    }
}

@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: #{$xlarge}) {
        @content;
    }
}