.error {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding: 5vmin;

    text-align: center;

    img {
        border-radius: 25px;
        max-width: 80vw;
    }

    h1, h2 {
        color: #fff;
        margin: 8px 0;
    }
}