@import '../../c_app.scss';

.question-slot {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    header {
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: center;
        padding: 5vmin 5vmin 0 5vmin;
        text-transform: uppercase;
        // max-width: 768px;
        width: 100%;
    
        h3, h1 {
            margin: 2vmin;
        }
    
        h1 {
            font-size: 2.5em;
        }

        // Phone > landscape
        @include small-landscape {
            height: 35%;
            width: 80%;
        }
    
        // tablet portrait
        @include small-portrait {
            height: 60%;
            width: 85%;
        }
    
        // tablet landscape and up
        @include medium {
            height: 60%;
            width: 80%;
        }
    }

    .question-card-slot {
        display: flex;
        height: 50%;
        justify-content: center;
        padding: 5vmin;
        // max-width: 768px;

        // Phone > landscape
        @include small-landscape {
            height: 65%;
            width: 80%;
        }
    
        // tablet portrait
        @include small-portrait {
            height: 30%;
            width: 80%;
        }
    
        // tablet landscape and up
        @include medium {
            height: 40%;
        }

        .question-card {
            background-color: $content-background-color;
            border: 1px solid $border-color;
            border-radius: 25px;
            box-shadow: $card-box-shadow;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            width: 100%;

            .question {
                padding: 12px 12px 0 12px;

                .highlight{ 
                    color: #ff7525;
                    font-weight: bold;
                }
            }

            .actions {
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: space-between;
                padding: 12px;

                // Phone > landscape
                @include small-landscape {
                    flex-direction: row;
                }

                // Up
                @include small {
                    flex-direction: row;
                }
            
                button {
                    background-color: #2699fb;
                    border: none;
                    border-radius: calc(25px - 12px);
                    box-shadow: $card-box-shadow;
                    color: #fff;
                    flex: 1;
                    padding: 8px 24px;
                    text-align: center;

                    &.correct {
                        background-color: $primary-color;

                        &:hover, &:active {
                            background-color: $primary-color_des;
                        }
                    }

                    &.incorrect {
                        background-color: $error-color;

                        &:hover, &:active {
                            background-color: $error-color_des;
                        }
                    }
            
                    &:hover {
                        box-shadow: 6px 6px 14px -6px rgba(0,0,0,0.32);
                    }
            
                    &:active {
                        box-shadow: none;
                        transform: translate(1px, 1px);
                    }
                }
            }
        }
    }
}