@import '../../c_app.scss';


.header {
    padding: 0 24px;
}

.content {
    padding: 24px;
    border-color: #e5f3ff;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    background: #fcfdff;
}

.actions {
    display: flex;
    flex-direction: column;

    @include small {
        flex-direction: row;
    }

    button {
        border: none;
        background: none;
        padding: 24px;
        text-align: center;
        color: #2699fb;
        flex: 1;


        &:active, &:hover {
            background: #fcfdff;
            cursor: pointer;
            outline: 1px solid #e5f3ff;

            @include small {
                // border-radius: 2vmin;
            }
        }
    }
}