@import '../../c_app.scss';

.toaster {
    position: absolute;
    left: -500px;
    bottom: 5vmin;
    border-radius: 8px;
    padding: 16px 24px;

    background-color: $content-background-color;
    // transition: all 1s ease 0s 1 normal forwards;
    transition: all 0.5s ease 0s;



    &.open {
        left: 5vmin;
    }

    // animation: toasterEntrance 1s ease 0s 1 normal forwards;
}

@keyframes toasterEntrance {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
  }