@import '../../c_app.scss';

.round-landing-view {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;

    header {
        padding: 24px;

        h3, h1 {
            margin: 5vh 14px;
        }

        h1 {
            font-size: 2.5em;
        }
    }
}

.rounds-slot {
    height: 100%;
}