.activity-card { 
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-right: 24px;

    border-radius: 5px;
    box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.32);

    & :hover {
        cursor: pointer;
        box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
    }
}